<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Welcome to Zerobyte!</h1>

  <div class="divsend">
    <h2>Send post</h2>
    <form>
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input #a matInput placeholder="name" value="">

      </mat-form-field>
      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Content</mat-label>
          <input #b matInput placeholder="Content" value="">

        </mat-form-field>
      </div>

    </form>
<!--    <textarea #a placeholder="name"></textarea>-->
<!--    <div>-->
<!--      <textarea #b placeholder="post content"></textarea>-->
<!--    </div>-->
    <button (click)="send(a.value, b.value)" mat-flat-button color="accent">Send</button>
  </div>


  <div *ngFor="let item of (items$ | async)" class="divMsg">
    <h2>{{item.name}}</h2>
    <h4>{{item.address}}</h4>

  </div>

</body>
</html>
