$base-color-red: #DC4752;
$base-color-white: #E8F4E3;
$base-color-aqua: #7AB7A8;
$base-color-orange: #D49B6A;
$base-color-dark: #3A3345;

body {
  background-color:#303030;
  font-family: "Ubuntu Mono";
  background-image: url("pexels-pixabay-316093.jpg");
  color:$base-color-white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto auto;
  background-position: center, center;


}
textarea
{
  resize:none;
  border-radius: 2px;
  transition: 2s;
  border-width: 0px;
  width: 170px;
  height: 33px;
}
textarea:hover {
  border-color:$base-color-aqua;
}
.divMsg {
  margin-top: 30px;
  background: #3d3d3d;
  border: $base-color-white;
  font-family: "Ubuntu Mono";
  color: white;
  text-align: center;
  border-radius: 20px;
  transition-duration: 1s;
  opacity: 95%;

}
.divsend{
  color:$base-color-dark;
  border:$base-color-orange;
  font-family: "Ubuntu Mono";
  color:$base-color-white;
  text-align: center;
  border-radius: 90px;
  left:50%;
}
button{
  width: 210px;
  height: 210px;
}
